body {
    font-family: 'Raleway';
}


/* CSS DO CABECALHO */
header {
    padding: 50px 32px 32px 32px;
}

.cabecalho-container {
    align-items: center;
    display: flex;
    width: 940px;
    margin: auto;
    justify-content: space-between;
}

.search {
    width: 393px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    background-image: url('/assets/img/lupa.png');
    background-repeat: no-repeat;
    background-position: center right 1rem;
    margin-right: 8rem;
    background-color:  #F5F5F5;
}

.btn-login {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2A7AE4;
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;
    background: none;
}

    /* FIM DO CSS DO CABECALHO*/ 

    /* CSS DO BANNER  */

.banner-principal {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner {
    width: 100%;
    height: 352px;
}

.conteudo-banner {
    color: white;
    width: 940px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 8em;
}

.titulo-principal {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 25px;
}

.titulo-secundario {
    font-size: 22px;
    font-weight: 700;
    
}

.botao-banner {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    background: #2A7AE4;
    width: 130px;
    height: 51px;
    border: none;
    margin-top: 1em;
}

    /* FIM DO CSS DO BANNER*/ 

    /* CSS DOS PRODUTOS  */

.principal {
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.botao-produtos {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
    background: none;
    border: none;
    background-image: url('/assets/img/seta-direta.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 2em;
}

.produtos { 
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.lista-produtos {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.descricao-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin-top: 10px;
}

.nome-produto {
    font-family: 'Raleway';
    color: rgba(70, 70, 70, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.preco-produto {
    color: #464646;
    font-weight: bold;
    font-size: 16px;
    
}

.pagina-produto {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
}

    /* FIM DO CSS DOS PRODUTOS*/ 

    /* CSS DO RODAPÉ  */

.rodape {
    background-color: rgba(234, 242, 253, 1);
}

.rodape-itens {
    display: flex;
    align-items: flex-start;
    width: 940px;
    height: 368px;
    margin: auto;
    justify-content: space-between;
    padding-top: 5em;
}

/* .logo-rodape {
    padding-top: 5em; 
}

.lista-rodape  {
    padding-top: 5em; 
} */

.lista-rodape li {
    padding: 13px;
}

.formulario-rodape {
    display: flex;
    flex-direction: column;
    width: 440px;
    font-weight: bold;
    height: 240px;
    justify-content: space-between;
}

.input-nome {
    border-radius: 5px;
    border: none;
    height: 40px;
    padding-left: 10px;
}

.input-texto {
    border-radius: 5px;
    border: none;
    height: 82px;
    padding-left: 10px;
}

.botao-rodape {
    font-size: 16px;
    color: white;
    background-color: #2A7AE4;
    width: 182px;
    height: 51px;
    border: none;
}

    /* FIM DO CSS DO RODAPE*/ 

    /* CSS DOS CRÉDITOS  */

.copyright {
    text-align: center;
    width: 940px;
    margin: auto;
    padding: 30px;
}

    /* FIM DO CSS DO COPYRIGHT*/ 